@import url('https://fonts.googleapis.com/css?family=Montserrat|Seymour+One&display=swap');

/* Clean Slate */
body {
    min-height: 100vh;
    background-color: #1E152A;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'Montserrat', sans-serif;
}

/* Custom Styles */
.container {
    position: absolute;
    width: 100vw;
    padding: 2em;
    transform: translateX(-50%);
    left: 50%;
    overflow: hidden;
}

/* Button */
#increase {
    padding: .75em 1.5em;
    border: none;
    background-color: rgba(52, 194, 229, 0);
    border: 2px solid rgb(52, 194, 229);

    color: rgb(52, 194, 229);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2em;

    transition: all 250ms ease-in-out;
}

#increase:hover {
    background-color: rgba(52, 194, 229, 1);
    cursor: pointer;

    color: #1E152A;
}

#increase:disabled {
    background-color: rgba(200, 200, 200, 1);
    border-color:  rgba(200, 200, 200, 1);
    cursor: not-allowed;

    color: #1E152A;
}


/* Letter */
.letter-container {
    margin-top: 1em;
    border-top: 1px solid #A5C882;
}

#letter {
    color: #A5C882;
    font-family: 'Seymour One', sans-serif;
    
    transition: font-size .75s ease-out;
}